*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --cor-titulo: #4d4d4d;
    --cor-texto: #333;
    --cor-escura: #000;
    --cor-clara: #fff;
    --cor-intermediaria: #ececec;
}

body,
h1,
h2,
p,
figure,
.links-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

html {
    font-size: 16px;
}

body {
    font-family: "Noto Sans", sans-serif;
    color: var(--cor-texto)
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.titulo {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.5rem;

    a {
        background-color: var(--cor-escura);
        color: var(--cor-clara);
        padding: 0.3rem 1rem;
        border-radius: 4px;
    }
}

.topo {
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-menu a {
    color: var(--cor-escura);
    font-size: 1.2rem;
    padding: 1rem;
    display: inline-block;
}

.menu a:hover,
.menu a:focus {
    background-color: var(--cor-intermediaria);
}

.links-menu {
    display: none;

    a {
        color: var(--cor-escura);
        font-weight: bold;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.links-menu.aberto {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--cor-clara);
}

.destaque{
    height: 88vh;
    background-image: url(../imagens/fundo-destaque.jpg);
    background-attachment: fixed;
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;

   h2, p {color: #fff; }
   /*text-align: center;*/

   h2{font-size: clamp(3rem, 10vw, 7rem);}

   p{font-size: clamp(1,5rem, 3vw, 3rem);}
}

/*osbre a função clamp()funcao util para responsivo de acordo com criterios de tamanhos minimos, ideal variavel responsivo maximo 

uso comum em textos responsivos< mas pode ser usado em qualquer propriedade que envolva tamanhos (width, heigt.)

clamp(tamanho minimo
tamanho ideal /variavel responsivo tamanho maximo)
*/
